#main-img {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-page-image {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
#introduction {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  backdrop-filter: blur(2px);
  padding: 20px;
  align-items: center;
}

#position-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel {
  margin-top: 20px;
  width: 100%;
}
#home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* background: rgb(46 72 95 / 36%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(40px); */
  width: fit-content;
  border-radius: 10px;
  padding: 20px;
}

.price-on-image-div {
  position: absolute;
  top: 0;
  max-width: 750px;
  width: 90vw;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 65 255 / 19%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(2px);
}

#carousel-title {
  width: 90%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .carousel-btn {
    display: none;
  }
  #home-page-image {
    height: 40vh;
  }
}
